 <!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 "  src="assets/images/leb/slider-img-04.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 "   src="assets/images/leb/slider-img-04.jpg"   alt="Second slide">
    </div>
    <div class="carousel-item im">
      <img class="d-block w-100"  src="assets/images/leb/slider-img-04.jpg" alt="Third slide">
    </div>
  </div>
</div>-->	
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="assets/images/leb/slider-img-04.jpg"
        alt="Third slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
     
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src=" assets/images/leb/1.jpg"
        alt="Second slide"
      />
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="assets/images/leb/slider-img-03.jpg"
        alt="Third slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
     
    </div>
  </mdb-carousel-item>
  

  <mdb-carousel-item>
    <div class="view w-100">
      <img
        class="d-block w-100"
        src="assets/images/leb/4.jpg"
        alt="Fourth slide"
      />
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">

    </div>
  </mdb-carousel-item>
</mdb-carousel>
