<div class="super_container">
  <header class="header trans_300 ha">
    <div  style="height: 60px"   class="navbarr">
      <a><img src="assets/images/leb/logHechm.png" style="height: 100px; width: 200px; margin-top: -30px" /> </a>

      <div class="divn"  style="left: 50%">
        <a href="" style="font-style: italic; color: aliceblue">Acceuil</a>
        <a routerLink="/login"  style="font-style: italic; color: aliceblue">Espace affiliés</a>

      
      </div>

      <ul class="navbar_user" style="display: inline; float: right; margin-right: 100px">
        <li class="checkout">
          <a (click)="liste()" style="margin-left: 50%; display: flex; margin-top: 14%">
            <i
              class="fa fa-shopping-cart"
              style="color: black; font-size: x-large"
              mat-icon-button
              [matMenuTriggerFor]="menu"
            >
              <span id="checkout_items" class="checkout_items">{{ nombrePan }}</span>
              <mat-menu #menu="matMenu" xposition="before">
                <button mat-menu-item *ngFor="let menu of menuList; index as i">
                  <i class="fa fa-trash" (click)="sup(i)" style="margin-right: 5px"></i>

                  <span>{{ menu.nameProd }}</span>
                </button>
                <div *ngIf="li" class="red_button shop_now_button"  (click)="Vprix()" style="color: aliceblue;width: 100%;">
                  <a>acheter</a>
                </div>
              </mat-menu></i
            >
          </a>
        </li>
      </ul>
    </div>

    <div class="main_nav_container" style="height: 100px; height: 60px;   overflow: visible;
    background-color: #af8d897a;
    position: fixed; 
    z-index: 1;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-right">
            <div class="logo_container">
              <img src="assets/images/leb/logHechm.png" style="height: 70px; width: 150px;margin-top: -15px;" />
            </div>
            <nav class="navbar">
              <ul class="navbar_user">
                <li>
                  <a routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
                </li>
                <li class="checkout">
                  <a>
                    <i
                      class="fa fa-shopping-cart"
                      aria-hidden="true"
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      (click)="liste()"
                    ></i>
                    <span id="checkout_items" class="checkout_items">{{ this.menuList.length }}</span>
                    <mat-menu #menu="matMenu" xposition="before">
                      <button mat-menu-item *ngFor="let menu of menuList; index as i">
                        <i class="fa fa-trash" (click)="sup(i)" style="margin-right: 5px"></i>
                        <span>{{ menu.nameProd }}</span>
                      </button>
                      <div *ngIf="li" class="red_button shop_now_button" (click)="Vprix()"  style="color: aliceblue;width: 100%;">
                        <a>acheter</a>
                      </div>
                    </mat-menu>
                  </a>
                </li>
              </ul>
              <div class="hamburger_container">
                <i *ngIf="open" class="fa fa-bars" (click)="navMobile()"></i>
                <i *ngIf="close" class="fa  fa-window-close" (click)="closeMobile()"></i>
                <div class="topnav" id="myLinks">
                  <a href="" style="font-style: italic;color:black;">aceuil</a>
                  <div (click)="Navigate(Prod)">
                    <a (click)="cosm()" style="font-style: italic;color:black;">Cosmétique naturelle</a>
                    <a (click)="parf()" style="font-style: italic;color:black;">Parfums</a>
                    <a (click)="bij()" style="font-style: italic;color:black;">Bijoux</a>
                    <a (click)="maq()" style="font-style: italic;color:black;">Maquillage</a>
                    <a (click)="ling()" style="font-style: italic;color:black;">lingeries</a>
                    <a (click)="acce()" style="font-style: italic;color:black;">accessoires</a>
                    <a routerLink="/login" style="font-style: italic;color:black;" >Espace affiliés</a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="fs_menu_overlay" style="background-color: #FAEBD7 !important" style="margin-bottom: 100px"></div>

  <!-- Slider -->
<app-header2></app-header2>
 
  <!-- Banner -->
  <section class="page-section" id="services" *ngIf="im" >
    <div class="container">
      <div class="text-center" style="margin-top: 15%">
        <h2 class="section-heading text-uppercase" *ngIf="im">Nos Services</h2>
        <p class="text-muted">Neroli est une entreprise pionnière dans la vente directe des produits qui ont une valeur ajoutée considérable associant à la foi le niveau technologique et
                            la présence de produits naturels aux propriétés magnifiques .
                            Neroli donne à chacun la possibilité d'être à la fois des clients et des représentants de nos produits.
        </p>
      </div>
     
    </div>
  </section>
  <body>
    <!--tab-->
    <div class="container" style="margin-top: 5%">
      <div class="text-center"  *ngIf="im">
        <h2 class="section-heading text-uppercase"   style="padding-top: 10%;">Catégories & Collections </h2>
        
      </div>
      <div class="text-center"  *ngIf="tab">
        <h2 class="section-heading text-uppercase"   style="padding-top: 10%;">  <i
          class="fa fa-shopping-cart"></i><span></span>Votre Pannier </h2>
        
      </div>
      <div style="overflow-x: auto" style="margin-top: 5%">
        <table *ngIf="tab" style="margin-top: 50px; margin-bottom: 50px">
         
          <tr *ngFor="let menu of menuList; index as i">
            <td><img [src]="menu.img" alt="Paris" style="border-radius: 50%; width: 100px; height: 100px" /></td>
            <td style="text-align: center">{{ menu.nameProd }}</td>
            <td style="text-align: center">
              <div class="product_price"> {{ menu.prixProd }} TND</div>
            </td>
          </tr>
        </table>
        <div class="bg-danger" *ngIf="tab" style="text-align: center;margin-top: 0%;margin:0%">TOTALE</div>
        <table *ngIf="tab">
         
       
          <tr>
            <td style="text-align: center;"></td>
             <td style="text-align: center;"> <div class="product_price"><span></span><br>{{prixTot}} TND</div></td>
            <td style="text-align: center;" (click)=" afficheForm()">   <div class="red_button shop_now_button" style="color:aliceblue" ><a><i class="bi bi-star"></i>Acheter</a></div></td>
          </tr>
          <tr>
            <td style="text-align: center;">offre affilier</td>
             <td style="text-align: center;"> <div class="product_price"><span>{{prixTot}} TND</span><br> {{prixAff}} TND</div></td>
            <td style="text-align: center;" (click)=" afficheFormAFF()">   <div class="red_button shop_now_button" style="color:aliceblue" ><a><svg style="color:aliceblue" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg> voire l'offre</a></div></td>
          </tr>
        </table> 
   
      </div>
      <section *ngIf="affForm" style="margin-top: 50px">
        <div class="text-center"  *ngIf="affForm">
          <h2 class="section-heading text-uppercase"   style="padding-top: 10%;">offre affilier </h2>
          
        </div>
        <app-add-student style="margin-top: 50px; margin-bottom: 50px"></app-add-student>
      </section>

      <!---tab-->

      <div class="container">
        <div class="banner" *ngIf="im" (click)="Navigate(Prod)">
          <div class="row" style="margin-top: 30px">
            <div class="col-md-3">
              <div class="banner_item align-items-center" style="background-image: url(assets/images/leb/parayd.jpg)">
                <div class="banner_category diva">
                  <a (click)="parf()" class="aa">Parfums</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" *ngIf="im">
              <div class="banner_item align-items-center" style="background-image: url(assets/images/leb/meqayd.jpg)">
                <div class="banner_category diva">
                  <a (click)="maq()" class="aa">Maquillage</a>
                </div>
              </div>
            </div>
            <div class="col-md-3" *ngIf="im">
              <div class="banner_item align-items-center" style="background-image: url(assets/images/leb/lingayd.jpg)">
                <div class="banner_category diva">
                  <a (click)="ling()" class="aa">lingerie</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="banner_item align-items-center" style="background-image: url(assets/images/leb/acayd.jfif)">
                <div class="banner_category diva">
                  <a (click)="acce()" class="aa">accesoires</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="margin-top: 30px">
              <div class="banner_item align-items-center" style="background-image: url(assets/images/leb/hed5.jpg)">
                <div class="banner_category diva">
                  <a (click)="cosm()" class="aa">cosmétique</a>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="margin-top: 30px">
              <div class="banner_item align-items-center" style="background-image: url(assets/images/leb/rec.jpeg)">
                <div class="banner_category diva">
                  <a (click)="bij()" class="aa">bijoux</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="page-section bg-light" id="team" *ngIf="catt">
      <div class="container">
        <div class="text-center">
          <h2 class="section-heading text-uppercase" style="margin-top: 15%">Nouveaux & paques</h2>
          <p class="text-muted">Chez Neroli, la beauté c’est trouver la bonne odeur de parfum pour une cliente, d’offrir une source de revenu permettant aux personnes de soutenir leur famille . La beauté, c’est paraître et se sentir à son avantage, mais c’est aussi un sentiment partagé d’appartenance. </p>
        </div>
        <div class="row" style="padding-top:10%;">
          <div class="col-lg-6">
            <div class="team-member" style="display: flex; flex-direction: column; align-items: center">
              <img
                class="mx-auto rounded-circle"
                src="assets/images/leb/mot_paques_brut___mylittledecor.jpg"
                alt="..."
              />
              <h4>PAQUE</h4>
           
            </div>
          </div>
          <div class="col-lg-6">
            <div class="team-member" style="display: flex; flex-direction: column; align-items: center">
              <img
                class="mx-auto rounded-circle"
                src="assets/images/leb/stock-photo-three-wooden-cubes-word-new.jfif"
                alt="..."
              />
              <h4>NOUVEAUX</h4>
           
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
           
          </div>
        </div>
      </div>
    </section>

    <!--ss-->
  
    <!--fs-->

    <!-- New Arrivals -->

    <div class="new_arrivals" #Prod>
      <div class="container" *ngIf="im" style="margin-top: 50px">
        <div class="row" *ngIf="!cat">
          <div class="col text-center" style=" padding-top: 20px">
            <h2
              *ngIf="!cat"
            
             class="section-heading text-uppercase" 
            >
              Nos Produits
            </h2>
          </div>
        </div>
        <div class="row align-items-center" *ngIf="!cat">
          <div class="col text-center">
            <div class="new_arrivals_sorting">
              <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                <li
                  *ngIf="cat"
                  class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center is-checked"
                  style="background-color:#af8d897a"
                  data-filter="*"
                >
                  Pack
                </li>
                <li
                  *ngIf="!cat"
                  class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center is-checked"
                  style="background-color: #af8d897a"
                  data-filter="*"
                >
                  {{ typeProduit }}
                </li>
                <li
                  class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  data-filter=".women"
                >
                  Homme
                </li>
                <li
                  class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  data-filter=".accessories"
                >
                  Femme
                </li>
                <li
                  class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                  data-filter=".men"
                >
                  Pack
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!---nn-->

        <!--nn-->
        <div class="row" *ngIf="!cat">
          <div
            class="col-xs-12 col-sm-6 col-md-3 col-lg-3 product-item men"
            *ngFor="let prod of ProduitOrdre; index as i"
          >
            <div class="product discount product_filter">
              <div class="product_image" >
                <img [src]="prod.img" style="height: 235px; width: 235px " alt="" />
              </div>
              <div class="favorite favorite_left"></div>
              <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                <span>-{{ prod.promo }} TND </span>
              </div>
              <div class="product_info">
                <h6 class="product_name" (click)="voiredescProd(i)">
                  <a href="#" style="font-weight: 600;
                  font-size: 18px;" rounded="true" data-toggle="modal"(click)="frame.show()"
  mdbWavesEffect> {{ prod.nameProd }}</a>
                </h6>
                <div class="product_price" style="font-size: 18px;
                font-weight: 400;">
                  {{ prod.prixProd }} TND <span> {{ prod.prixProd + prod.promo }} TND</span>
                </div>
              </div>
            </div>
            <div class="red_button add_to_cart_button"><a (click)="ajout(i)">Acheter</a></div>
          </div>
          <!---->
        </div>
      </div>
    </div>
    

    <!-- Deal of the week -->
  
    <section *ngIf="catt"><app-gal2></app-gal2></section>
    
    <!-- Best Sellers -->

    <div class="best_sellers">
      
      <footer class="footer" style="background:#fff;margin-top:100px" >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
               
              </div>
            </div>
            <div class="col-lg-6">
              <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                <ul>
                  <li><a href="https://www.facebook.com/Neroli-un-style-de-vie-108886798360710/"><i class="fa fa-facebook" style="font-size: x-large ;" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" style="font-size: x-large;"  aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com/p/Ca9k7oVAEVy/?utm_medium=copy_link&fbclid=IwAR1LQtzOPJ_rmZdxBg4q-hgyNWMSeh9fqUwf8-CDfxIq7vL-eZLrHPbrD9U"><i class="fa fa-instagram" style="font-size: x-large;"  aria-hidden="true"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UC8egQzQoC9xetpA2bhgKstw"><i class="fa fa-youtube" style="font-size: 50px;"  aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </footer>
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"></section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Neroli</h6>
                <p>
                  Neroli est une entreprise pionnière dans la vente directe de produits de beauté. Elle aide les femmes à être et se sentir belles. Plus qu’un commerce.


                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4" (click)="Navigate(Prod)">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">produits</h6>
                <p>
                  <a (click)="parf()" class="text-reset">Parfums</a>
                </p>
                <p>
                  <a  (click)="cosm()" class="text-reset">Cosmétique naturelle</a>
                </p>
                <p>
                  <a (click)="bij()" class="text-reset">Bijoux</a>
                </p>
                <p>
                  <a (click)="ling()" class="text-reset">Lingerie</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Client</h6>
                <p>
                  <a href="#!" class="text-reset">Catalogue</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Nouveaux</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Admin</a>
                </p>
                <p>
                  <a routerLink="/login" class="text-reset">Espace affiliés</a>
                </p>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fa fa-home "></i> Centre kamoun cité nasser 2 tunis </p>
                <p>
                  <i class="fa fa-envelope" ></i>
                  contact@nerolicosmetic.com
                </p>
                <p><i class="fa fa-phone "></i> +216 98 425 975</p>
                
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
          © 2020 Copyright:
          <a class="text-reset fw-bold" href="http://nerolicosmetic.com">nerolicosmetic.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
  </body>

</div>
<!--modal-->

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
    
    <div class="modal-header" style="background-color: #af8d897a !important;">
        <p class="heading lead">{{ nameProd}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center" >
         <h4 style="text-align: center;margin-left: 40%;margin-right: 40%;">  <img [src]="imgMod" alt="Paris" style="border-radius: 50%; width: 100px; height: 100px " /></h4>
          <p>{{descProde}}</p>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="ajoutdescProd()"> Acheter
        
        </a>
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Non merci</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--finmodal-->