<div  style=" height:100%;
width: 100%;
background-size:cover;
background-attachment: fixed;background-image: url('assets/images/leb/hed2.jpg');">
<div class="container">
	<div class="row">
		<div class="col" style="text-align: center;">
			<img style=" margin: 0 auto;
			display: block;width:300px;height: 100px;" src="assets/images/leb/logoDiv.png">
		</div>
		
	</div>
	<div class="row">
		<div class="col" style="text-align: centre;">
			<p class="myp text-center" style="font-style: italic;" >Neroli est une marque tunisienne qui permet à chaque femme de trouver toutes les réponses à sa propre beauté 
				Neroli est un style de vie et une manière d'avoir confiance en vous 
				Des produits merveilleux tous rigoureusement testés 
				Chaque femme peut trouver dans Neroli toutes les réponses à sa propre beauté</p>

		</div>
	</div>
</div>
</div>